# Ignore node modules
node_modules

# Ignore logs
*.log

# Ignore the Dockerfile itself
Dockerfile

# Ignore .dockerignore
.dockerignore

# Ignore git related files
.git
.gitignore

# Ignore environment files
.env

# Ignore IDE related files
.idea
.vscode

# Ignore build files
build

# from .gitignore
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
